.message-thread-view {
    overflow-y: auto;
  }

.message-bubble {
  border-radius: 8px;
  width: fit-content;
  padding: 12px;
  margin-bottom: 10px;
  min-width: 20%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.message-bubble.user {
  background-color: #c7e0f4;
  float: right;
}

.message-bubble.llm {
  background-color: #f3f2f1;
  float: left;
  margin-left: -2.5rem;
}